.selection-calendar {
    display: none;
    width: 400px;
    height: 460px;
    border: $small-header-border solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bar-background;

    div.weeks-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        div:nth-child(1) {
            margin-top: 15px;
        }
    }

    div.days-holder {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10px;

        div {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid black;
            border-radius: 5px;
            cursor: pointer;
            transition: .4s;
            background-color: $bar-background;

            &:hover {
                filter: brightness(0.8);
            }

            &.selected {
                background-color: $matt-black;
                color: white;
                border: 2px dashed #E0EEEE;
            }
        }
    }

    div.weeks-cell {
        height: 40px;
        width: 80%;
        border: $small-header-border solid black;
        margin-top: 6px;
        margin-bottom: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        transition: .4s;
        background-color: $bar-background;
        cursor: pointer;

        &:hover {
            filter: brightness(0.8);
        }

        &.no-margin {
            margin: 0;
        }

        &.selected {
            background-color: $matt-black;
            color: white;
            border: 2px dashed #E0EEEE;
        }
    }

    div.week-view-title {
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        div.small-info-bar {
            font-size: 16px;
            width: 324px;

            span.left {
                float: left;
            }

            span.right {
                float: right;
            }
        }
    }

    &>div.active {
        display: block;
    }

    &>div {
        display: none;
    }

    &.active {
        display: block;
    }
}