.selection-calendar {
    width: 400px;
    height: 460px;
    border: $small-header-border solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bar-background;

    div.weeks-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            height: 40px;
            width: 80%;
            border: $small-header-border solid black;
            margin-top: 6px;
            margin-bottom: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            cursor: pointer;
            transition: .4s;
            background-color: $bar-background;

            &:hover {
                filter: brightness(0.9);
            }
        }

        div:nth-child(1) {
            margin-top: 15px;
        }
    }

    div.days-holder {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10px;

        div {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid black;
            border-radius: 5px;
            cursor: pointer;
            transition: .4s;
            background-color: $bar-background;

            &:hover {
                filter: brightness(0.9);
            }
        }
    }

    &>div.active {
        display: block;
    }

    &>div {
        display: none;
    }
}