@mixin CellBody {
    height: $small-header-height;
    width: 100%;
    display: grid;
    font-size: 18px;
    grid-template-columns: 50% 50%;
    border-bottom: $small-header-border dotted black;
    background-color: $bar-background;
}

@mixin CellCellOptions {
    >div {
        display: flex;
        align-items: center;
        justify-content: center;

        &.right {
            justify-content: flex-end;
        }

        &.left {
            justify-content: flex-start;
        }

        >img {
            padding-right: calc((($small-header-height - 25px) / 2) - ($small-header-height / 2.2) / 4);
            height: calc($small-header-height / 2.2);
        }

        >span {
            text-indent: 10px;
        }
    }


    &.no-click {
        cursor: default;
    }
}

.options-menu {
    display: none;
    width: 450px;
    height: 350px;
    border: $small-header-border solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bar-background;

    &.active {
        display: block;
    }

    &>div.active {
        display: block;
    }

    &>div {
        display: none;
    }

    .options-cell-container {
        overflow-y: scroll;
        height: calc(350px - $small-header-height - $small-header-border);

        >div.options-cell {
            @include CellBody();
            cursor: pointer;
            transition: .4s;

            >&:hover {
                filter: brightness(0.8);
            }

            >&.ending {
                content: "This class has no purpose lol";
            }

            @include CellCellOptions();
        }
    }

    .support-me-cell-container {
        text-align: center;
        height: calc(350px - $small-header-height - $small-header-border);

        >div.support-me-cell {
            width: 100%;
            height: $small-header-height;
            display: flex;
            align-items: center;
            justify-content: space-around;

            @mixin baseLinkStyles($text, $background) {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 5px;
                font-size: 18px;
                outline: none;
                text-decoration: none;
                font-weight: 600;
                background-color: $background;
                color: $text;
            }

            >a.buy-me-a-coffee-link {
                @include baseLinkStyles(black, #FFDC01);
            }

            >a.pay-pal-link {
                @include baseLinkStyles(white, #001D65);
            }

            >a.cash-app-link {
                @include baseLinkStyles(#FEFFFE, #01D64E);
            }

            >a.venmo-link {
                @include baseLinkStyles(white, #0174DF);
            }
        }
    }

    .general-settings-cell-container {
        overflow-y: scroll;
        height: calc(350px - $small-header-height - $small-header-border);

        >div.general-settings-cell {
            @include CellBody();
            cursor: pointer;

            @include CellCellOptions();
        }
    }

    select {
        padding: 4px 6px;
        color: #333;
        background-color: $bar-background;
        border: $small-header-border solid black;
        cursor: pointer;
        border-radius: 5px;
        font-size: 18px;
        outline: none;
        transition: all 0.4s;
        min-width: 100px;

        &:hover {
            filter: brightness(0.8);
        }
    }
}