.window-button {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    transition: .2s all;
    float: right;
    font-size: 16px;
}

.window-button-black {
    background-color: #1e1e24;
    color: white;

    :hover {
        background-color: #1e1e24bd;
    }
}

.window-button-disabled {
    text-decoration: line-through 2px;
}

.window-button-bmay {}

.window-button-paypal {}

.window-button-cash-app {}