.window-button {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    transition: .2s all;
    float: right;
    font-size: 16px;
}

.window-button-black {
    background-color: #1e1e24;
    color: white;

    :hover {
        background-color: #1e1e24bd;
    }
}

.window-button-red {
    background-color: #F32013;
    color: white;
}

.window-button-disabled {
    text-decoration: line-through 2px;
    filter: brightness(0.5);
}

.window-button-buy-me-a-coffee {
    background-color: #FD0;
}

.window-button-paypal {
    background-color: #0096ec;
}

.window-button-cash-app {
    background-color: #00D632;
}