@mixin settings-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    >.item {
        width: 100%;
        height: 50px;
        margin-bottom: 10px;

        background-color: red;
    }
}

@mixin drawLineAtDeg($color, $angle, $on, $filter) {
    @if $on =='after' {
        &::after {
            content: '';
            z-index: 1;
            position: absolute;
            filter: brightness($filter);

            top: 50%;

            width: 100%;
            height: 10%;

            background-color: $color;

            transform: rotate($angle);
        }
    }

    @if $on =='before' {
        &::before {
            content: '';
            z-index: 1;
            position: absolute;
            filter: brightness($filter);

            top: 50%;

            width: 100%;
            height: 10%;

            background-color: $color;

            transform: rotate($angle);
        }
    }
}