#date-back,
#date-forward {
    height: 100%;
    border: none;
    width: fit-content;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

#date-back {
    float: left;
}

#date-forward {
    float: right;
}

#date-back>span {
    margin-left: 5px;
}

#date-forward>span {
    margin-right: 5px;
}

#date-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

#date-disabled {
    text-decoration: line-through 3px;
    color: gray;
}