#open-options {
    width: 50px;
    float: left;
    height: 100%;
    cursor: pointer;
    border: 0;
    background-color: #f5f5f5;
}

#open-options>img {
    width: 70%;
    height: 70%;
}

#open-options:hover>img {
    animation-name: rotate;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#status-img {
    float: right;
    width: 35px;
    height: 100%;
    padding-right: 10px;
    background-color: #f5f5f5;
    cursor: help;
}

#sanity-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

@keyframes rotate {
    100% {
        rotate: 360deg;
    }
}