$window-background-color: #E4E4D0;
$window-bar-background-color: #AEC3AE;

$matt-black: #171717;
$font-color: #dddddd;

$icon-font-size: 25px;
$moveable-window-header-height: 45px;

/*
$window-background-color: #555555;
$window-bar-background-color: #414141;

$matt-black: #171717;
$font-color: #dddddd;

$icon-font-size: 25px;
$moveable-window-header-height: 45px;
*/