$bar-height: 50px;
$bar-border: 2px;

$small-header-height: 50px;
$small-header-border: 2px;
$small-header-grids: 50% 50%;

$bar-background: #ECECEC;
$matt-black: #171717;
$see-through-matt-black: #171717d5;