@import "./windows/calendar.scss";

div.moveable-window {
    position: absolute;
    width: 450px;
    height: 350px;
    z-index: 5;

    &[data-type="calendar"] {
        width: 400px;
        height: 460px;

        >div.body {
            @include calender-body();
        }
    }

    background-color: $nav-bars-background-color;
    border: 2px solid black;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: table;

    >div.header {
        cursor: move;

        width: 100%;
        height: $moveable-window-header-height;
        border-bottom: 2px solid black;
        display: grid;
        grid-template-columns: 60% 40%;
        font-size: 22px;

        i {
            font-size: $icon-font-size;
            margin-right: 10px;

            cursor: pointer;
        }

        >div.left,
        >div.right {
            width: 100%;
            display: flex;
            align-items: center;


            >span {
                text-indent: 15px;
            }
        }

        >div.left {
            justify-content: flex-start;
        }

        >div.right {
            justify-content: flex-end;
        }
    }

    >div.sub-header {
        width: 100%;
        height: $moveable-window-header-height;
        border-bottom: 2px solid black;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        font-size: 22px;

        i {
            font-size: $icon-font-size;
            margin-right: 15px;
            margin-left: 15px;

            cursor: pointer;
        }

        >div.left,
        >div.right,
        >div.center {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        >div.center {
            >div.spacer {
                width: 10px;
                min-width: 10px;
                background-color: black;
            }
        }

        >div.left {
            justify-content: flex-start;
        }

        >div.right {
            justify-content: flex-end;
        }
    }

    >div.body {
        height: calc(100% - ($moveable-window-header-height * 2 + 4px));
    }
}