@import "./vars";
@import "./main-window/bar.scss";
@import "./main-window/calendar.scss";
@import "./main-window/options.scss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.click {
    &-allowed {
        cursor: pointer;
    }

    &-disabled {
        cursor: not-allowed;
    }
}

.small-header {
    height: $small-header-height;
    width: 100%;
    border-bottom: $small-header-border solid black;
    display: grid;
    font-size: 22px;

    &.draggable {
        cursor: move;
    }

    &.three-sections {
        grid-template-columns: 30% 40% 30%;
    }

    &.two-sections {
        grid-template-columns: 50% 50%;
    }

    &.one-sections {
        grid-template-columns: 100%;
    }

    >div {
        display: flex;
        align-items: center;
        justify-content: center;

        >span {
            text-indent: 15px;
        }

        &.right {
            justify-content: flex-end;
        }

        &.left {
            justify-content: flex-start;
        }

        &.center {
            >span {
                padding-left: 0;
                text-indent: 0;
            }

            >div.spacer {
                width: 10px;
                min-width: 10px;
                background-color: black;
            }
        }

        >button {
            width: $small-header-height;
            height: $small-header-height;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;

            >img {
                height: calc($small-header-height / 2);
            }
        }
    }
}